---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import myHeadshot from "../images/andrewvieau.png"; // 

const pageTitle = "About Me";
const identity = {
  firstName: "Andrew",
  country: "Minnesota",
  occupation: "Dad",
  hobbies: ["photography", "camping", "running"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "green";
const fontWeight = "bold";
const textCase = "uppercase";
const workStatus = "booked until April 2025"
---

<BaseLayout pageTitle={pageTitle}>

<style is:global define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: var(--mainGreen);
    font-size: 4rem;
  }
  .skill {
    color: var(--mainGreen);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style> 

<main class="flex flex-col items-center justify-center">
  <section class="rounded-lg shadow-lg p-8 max-w-2xl w-full mt-12">
    <Image src={myHeadshot} alt="A picture of me." class="w-32 h-32 rounded-full mx-auto mb-6 border-4 border-green-400 shadow" />
  <h3 class="text-3xl font-bold mb-4 main-green-text">
    I'm an Enterprise Technology Generalist.
  </h3> 
  <p>
    I've spent the last decade mastering the full Sitecore technology stack as a technical trainer, learning experience designer, and solution consultant.
  </p>
  <p>
    I started contracting in the summer of 2025. I'm looking for new projects in May 2026.
  </p>
  <p>
    I have some fairly unique Sitecore experience, having worn the hat of developer, admin, architect, marketer, annd content author, to name a few.  If you have a similarly unique Sitecore project and you're not sure exactly where to start, please reach out to me on <a href="https://linkedin.com/in/andrewvieau" target="_blank">LinkedIn</a>, I'd love to chat.
  </p>
  <p>
    Current status:   <span class="skill">{workStatus}</span>
  </p>

<!--- 
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Under_construction_graphic.gif" alt="Under Construction" style="max-width: 300px;"/>
  <p>
    This website is a work in progress.  Like every website.
  </p>      


    <p>This site is the product of <a href="https://docs.astro.build/en/tutorial/0-introduction/">Astro's introductory tutorial</a>. <b>I'm done with it,</b> but I'm leaving up a few things because I want to study & modify the code later.

    <p>For example, the following content should look the same to you, but instead of just typing this information, I'm outputting data from a number of different variables.</p>
    <ul>
    <li>My name is <b>{identity.firstName}</b>.</li>
    <li>I live in <b>{identity.country}</b> and I work as a <b>{identity.occupation}</b>.</li>
    {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: <b>{identity.hobbies[0]}</b> and <b>{identity.hobbies[1]}</b></li>
    }
    </ul>
    <p>My skills are:</p>
    <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>


{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}
-->
  </section>
</main>

</BaseLayout>

